<nav class="navbar " style="box-shadow:1px 1px 1px black;  border-bottom: 4px solid #77faff ;">
  <span style="float: left">
    <a class="nav-link" routerLink="/" >Fun with Translations</a>
  </span>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">Translate To</a>
      <div class="dropdown-menu">
        <a class=" dropdown-item nav-link" routerLink="/yoda">Yoda</a>
        <a class="dropdown-item nav-link" routerLink="/minion">Minion</a>
        <a class="dropdown-item nav-link" routerLink="/pirate">Pirate</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/feedback">Feedback</a>
    </li>
  </ul>
</nav>